* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
}

html, body {
    overflow: hidden;
    padding: 10px;
    height: 100%;
}

#root{
    height: 100%;
}